html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

article, h1, h2, h3{
    font-size: smaller;
}

article, p{
    font-size: 14px;
    font-weight: 525;
    padding-top: 5px;
}
.our-article {
    background-color: #8A9A7C;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.1);
    color: white;
    width: 100vw;
    margin: -5vw auto;
    text-align: center;
    height: 400px;
}

.article-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #1A3C34;
    z-index: 2;
    margin-top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border: solid 2px #A14A2F;
}

.article-left {
    flex: 2;
    padding: 16px;
    background-color: #1A3C34;
    height: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: solid 2px #A14A2F;
}

.article-right {
    flex: 1;
    padding: 16px;
    background-color: #1A3C34;
    height: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: solid 2px #A14A2F;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.space-above-article {
    height: 25px;
}

.space-below-fact{
    height: 2px;
}

@media (min-width: 320px) {
  .our-article {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100vw; /* Full viewport width */
    box-sizing: border-box;
  }
  html body{
    padding: 0;
  }
}

@media (min-width: 768px) {
  .our-article {
    width: 75vw; /* Adjust width for larger screens */
    margin: -5vw auto; /* Center the article */
    height: 450px;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
  }
  .our-article, p {
    font-size: 18px;
  }
  .article-left {
    height: 310px;
    }

.article-right {
    height: 310px;
    }
}
  @media screen and (min-width: 900px) {
    .our-article {
        width: 55vw; /* Further adjust width for even larger screens */
        height: 500px;
    }
    .article-left {
    height: 350px;
    }

.article-right {
    height: 350px;
    }
}

@media screen and (min-width: 1440px) {
    .our-article {
        width: 50vw; /* Adjust width for very large screens */
        height: 600px;
    }
    .article-left {
    height: 450px;
    }
    .article-right{
        height: 450px;
    }

    #articles{
        display: flex;
        flex: 0;
        gap: 1rem;
        flex-wrap: wrap;
    }

    #adverts{
        display: block;
        margin-left: 80px
    }
}

@media screen and (min-width: 1600px) {
    .our-article {
        width: 40vw; /* Adjust width for very large screens */
        height: 700px;
    }
    .article-left {
    height: 500px;
    }
    .article-right{
        height: 500px;
    }

    #articles{
        flex: 0;
        gap: 1rem;
    }
}